.content {
	padding-top: 2%;
}
h1 {
	font-family: 'Poppins', sans-serif;
}

h2 {
	font-family: 'Poppins', sans-serif;
}
h4 {
	font-family: 'Poppins', sans-serif;
}

h1{
	font-size: 54px;
}

h1{
	text-transform: uppercase;
}

li a{
	color: black;
	text-decoration: none;
}

body{
	background-color: #80bfff;
}