.text {
	font-family: 'Nunito Sans', sans-serif;
}


.content {
	padding-top: 5%;
}

.line1 {
	font-family: 'Noto Sans', sans-serif;
color: #1C8338;

}

.name {
	color: #503B3B;
}

.line1 {
	font-size: 50px;
}